.react-calendar {
  width: 100%;
  background: white;
  border: none;
  font-family: "Inter", sans-serif;
  padding: 1rem;
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.react-calendar__navigation button {
  color: #1e88e5;
  font-size: 14px;
  border-radius: 6px;
  min-width: 80px;
  padding: 4px 8px;
}

.react-calendar__navigation button:disabled {
  opacity: 0.3;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: lowercase;
  color: #6c757d;
  font-weight: 500;
  font-size: 13px;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5rem 0;
}

.react-calendar__tile {
  padding: 14px 0;
  font-size: 14px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.2s ease;
}

.react-calendar__tile:hover {
  background-color: #e3f2fd;
  color: #1e88e5;
}

.react-calendar__tile--active {
  background-color: #1e88e5 !important;
  color: white !important;
}

.react-calendar__tile--now {
  background-color: #f0f7ff;
  border: 1px solid #1e88e5;
  color: #1e88e5;
}

.react-calendar__month-view__days__day--weekend {
  color: #1e88e5;
}

.tag-event-day {
  position: relative;
}

.tag-event-day::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ff5252;
  border-radius: 50%;
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
}


.react-calendar__month-view__weekNumbers {
  font-size: 13px;
  color: white;
  font-weight: bold;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  background-color: #606060 !important;
  border-radius: 6px;
  color: white !important;
}